.order-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 279px;
    margin: 32px 0 32px 0;
    padding-bottom: 32px;;
    /* box-sizing: border-box; */
}

.order-box p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.order-box p .figures{
    font-weight: 700;
}

.order-box .total-sum{
    font-weight: 500;
}

.cart-button{
    /* padding: 16px 32px; */
    color: #FFFFFF;
    width: 100%;
    /* width: 279px; */
    height: 43px;
    border: none;
    background: #5ECE7B;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 600;
    cursor: pointer;
}