.cart-dropdown-wrapper{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cart-dropdown-container{
    position: absolute;
    border: 1px solid black;
    z-index: 2;
    width: 325px;
    height: 677px;
    /* left: 1043px; */
    right: 72px;
    top: 0px;
    background: #c7c5c5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 32px
}

.buttons-area{
    display: flex;
    justify-content: space-between;
}

.total-zone{
    display: flex;
    justify-content: space-between;
}

.cart-overlay{
    position: absolute;
    top: 52;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(57, 55, 72, 0.22);
}
