.cart-overlay{
    position: absolute;
    top: 78px;
    left: -100px;
    width: 100vw;
    height: 1435px;
    background-color: rgba(57, 55, 72, 0.22);
    z-index: 2;
    /* border: 1px solid red */
}

.cart-dropdown-container{
    position: absolute;
    /* border: 1px solid black; */
    z-index: 3;
    width: 325px;
    /* height: 677px; */
    /* left: 1043px; */
    right: 72px;
    top: 0px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 16px;
    gap: 32px
}

.dropdown-p{
    font-size: 16px;
    margin: 0;
}

.cart-items-container{
    position: relative;
    width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.total-zone{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.total-zone :first-child{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #1D1F22;
}

.total-zone :last-child{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

.buttons-area{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 12px;
    width: 100%
}

.go-to-checkout-button{
    padding: 16px 32px;
    color: #FFFFFF;
    width: 50%;
    height: 52px;
    border: none;
    background: #5ECE7B;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 600;
    cursor: pointer;
}

.viev-bag-button{
    align-items: center;
    padding: 16px 32px;
    color: #1D1F22;
    width: 50%;
    height: 52px;
    border: none;
    background: #FFFFFF;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 600;
    cursor: pointer;
    border:1px solid #1D1F22
}