h2{
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

main img{
    /* width: 354px; */
    max-width: 354px;
    height: 330px;
    padding: 16px;
    object-fit: cover;
}

p{
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
}


