.top-title{
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    height: 68px;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-top: 78px;
    margin-bottom: 102px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
/* workable flex
main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between
} */

p{
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
}


