h2{
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
}

img{
    width: 100%;
    padding: 16px;
}

main img{
    /* width: 100%; */
    /* padding: 16px; */
    width: 354px;
    height: 330px;
}

p{
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #1D1F22;
}

.className{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

img:hover{
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

main .item{
    width: 30%;
    margin-bottom: 103px;
    position: relative;
}

.priceBlock{
    margin-left: 16px;
}

.addToCart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: #fff;
    /* visibility: hidden; */
    /* display: hidden; */
    text-align: center;
    line-height: 35px;
    display: none;
    z-index: 100;
}


item .addToCart:hover{
    /* transition: all 500ms ease; */
    /* transform: scale(1.05); */
    height: 35px;
    width: 35px;
    /* border-radius: 20px; */
    /* background-color: #52D67A; */
    /* color: #fff; */
    display: block;
    visibility: initial;
    /* display: flex; */
}