    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.gallery{
    display: inline-flex;
    width: 79px;
    flex-direction: column;
    margin-right: 40px;
    float: left;
    cursor: pointer;
    gap: 40px;
}

.pdp_img{
    width: 79px;
    height: 80px;
}

.main-img-box{
    width: 610px;
    display: inline-flex;
    float: left;
    justify-content: center;
    /* border: 1px solid red */
}

.main_img{
    max-width: 610px;
    height: 511px;
    /* margin-right: 100px; */
    object-fit: cover;
    box-sizing: border-box;
}

.pdp-description-box{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.pdp-description-box p{
    margin: 0;
}

.item-brand{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
}

.item-name{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
}

.pdp-attributes-box{
    margin-top: 27px;
}

.pdp-attributes-values{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.attribute-name{
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1D1F22;
}

.size{
    min-width: 36px;
    min-height: 36px;
    border: solid #1D1F22 1px;
    display: flex;
    float: right;
    padding: 12px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.button_add_to_cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 32px;
    color: #FFFFFF;
    width: 292px;
    height: 52px;
    left: 929px;
    top: 560px;
    border: none;
    background: #5ECE7B;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.button_add_to_cart:hover{
    background: #4dac66;
    transition: all 0.5s ease;
}

.price{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #1D1F22;
    margin-bottom: 20px;
}

.active{
    background-color: rgb(102, 200, 10);
}

.testClass{
    width: 30px;
    height: 30px;
    background-color: aqua;
    border: solid #1D1F22 1px;
}