  header{
    position: relative;
    height: 80px;
    display: flexbox;
    flex-direction: row;
  }

  .nav-links-wrapper{
    margin-top: 24px;
    display: inline-block;
  }

  .logo-wrapper {
    position: absolute;
    height: 41px;
    width: 41px;
    display: inline-block;
    left: calc(50% - 41px/2 );
    top: calc(50% - 41px/2 + 4.5px);
  }

  .navLinks{
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start;
    height: 52px;
    flex-direction: row;
    padding: 4px 16px 0px 16px;
    justify-content: space-around;
    box-sizing: border-box;
  }

  .navLinks:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-bottom: solid 2px #52D67A;
    color: #52D67A
  }

.actions{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 22px;
  height: 41px;
  width: 204px;
  right: 0;
  top: 23px;
}

.cart-count{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -2px;
  right: -12px;
  border-radius: 10px;
  background-color: black;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
