@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-size: 42px;
  font-weight: 400;
}

